<ion-view view-title="Home">
	<ion-nav-bar class="bar-positive">

	  <ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	  </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content>
		<div class="content">
			<h1>Hello {{nombre}} There!</h1>
			<button ng-click="logOut()" class="button button-clear button-positive">Logout</button>
			<ion-list>
				<ion-item ng-repeat="shop in shops track by $index">
					<div class="list">
					    <a class="item item-thumbnail-left" href="#">
					      <img src="{{shop.picture}}" >
					      <h2>{{shop.company}}</h2>
					      <p>{{shop.about}}</p>
					    </a>
					</div>
				</ion-item>
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
			</ion-list>
		</div>
	</ion-content>

</ion-view>