<ion-view view-title="Shop details">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="{{shop.picture}}" />
				<h2>{{shop.company}}</h2>
				<p>{{shop.type}}</p>
			</div>
			<div class="item item-body">
				<p>
					{{shop.about}}
				</p>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
				<i class="icon ion-star"></i>
				{{shop.rating}} Rating
				</a>
				<a class="tab-item" href="#">
				<i class="icon ion-chatbox"></i>
					<span ng-if="shop.subscriptors === '[]'">0 Subscritors</span>
					<span ng-if="shop.subscriptors !== '[]'">{{shop.subscriptors.length}} Subscritors</span>
				</a>
				<a class="tab-item" href="#">
				<i class="icon ion-heart"></i>
				Favorite
				</a>
			</div>
			<div class="item item-body">
				<h2>List subscriptors</h2>
				<ion-list class="list">
					<p ng-if="shop.subscriptors === '[]' ">No subscribed</p>
				    <div class="item item-avatar" ng-repeat="subscriptor in shop.subscriptors">
				      <img src="{{subscriptor.picture}}">
				      <h2>{{subscriptor.fullName}}</h2>
				    </div>
				</ion-list>
			</div>
		</div>
	</ion-content>
</ion-view>